body {
    display: grid;
    /* main and footer for now */
    grid-template-rows: auto auto;
}

footer {
    align-self: end;
    padding: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
}

.ascii-art {
    display: inline-block;
    font-family: monospace, fixed;
    font-size: 6px;
    line-height: 0.67;
    font-weight: bold;
    width: fit-content;
    background-color: black;
    color: white;
    transform-origin: left top;
    white-space: nowrap;
}